.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__greeting {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 88px;
}

.profile__name-wrapper {
  display: flex;
  margin-top: 94px;
  max-width: 410px;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 6px;
  border-bottom: 1px solid #E8E8E8;
  position: relative;
}

.profile__email-wrapper {
  display: flex;
  max-width: 410px;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
  position: relative;
}

.profile__data__font {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  white-space: nowrap;
}

.profile__input {
  outline: none;
  border: none;
  width: 100%;
  text-align: end;
}

.profile__button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.profile__button:disabled{
  cursor: default;
  color: #A0A0A0;
}


.profile__user-info-edit {
  margin-top: 210px;
}

.profile__submit-info {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #1ae21a;
  visibility: hidden;
  position: relative;
  bottom: 1px;
  right: 0;
}

.visible {
  visibility: visible;
}

.profile__exit {
  margin-top: 13px;
  color: #FF4062;
}

.profile__error {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  margin-top: 12px;
  visibility: hidden;
  position: absolute;
  top: 15px;
  right: 0;
}

@media screen and (max-width: 768px) {
  .profile__greeting{
    margin-top: 250px;
  }
  .profile__name-wrapper {
    margin-top: 65px;
  }
  .profile__user-info-edit {
    margin-top: 200px;
  }
}

@media screen and (max-width: 768px) {
  .profile__greeting{
    margin-top: 82px;
  }
  .profile__name-wrapper {
    margin-top: 50px;
    max-width: 260px;
  }
  .profile__email-wrapper {
    max-width: 260px;
  }
  .profile__user-info-edit {
    margin-top: 370px;
  }
}