.portfolio {
  margin-bottom: 174px;
}

.portfolio__portfolio-subheading {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  margin: 100px 0 0 70px;
}

.portfolio__portfolio_list {
  display: grid;
  list-style-type: none;
  margin: 50px 75px 0 70px;
  padding: 0;
  grid-template-rows: repeat(3, 69px);
  gap: 20px;
}

.portfolio__portfolio {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E6E6E6;
}

.portfolio__portfolio:last-of-type {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .portfolio__portfolio-subheading {
    margin: 90px 0 0 50px;
  }

  .portfolio__portfolio_list {
    margin: 49px 50px 0;
  }

  .portfolio__portfolio {
    font-size: 28px;
    line-height: 50px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio {
    margin-bottom: 112px;
  }
  .portfolio__portfolio-subheading {
    margin: 70px 14px 0;
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__portfolio_list {
    margin: 40px 14px 0;
    grid-template-rows: repeat(3, 48px);
  }

  .portfolio__portfolio__arrow-image {
    width: 11px;
    height: 11px;
    margin: 0 5px 2px;
  }

  .portfolio__portfolio {
    font-size: 18px;
    line-height: 28px;
  }
}