.header {
  padding: 18px 70px 0;
  width: 100%;
  display: flex;
  background-color: #F3C1F8;
  box-sizing: border-box;
}

.header__signup {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: black;
  text-decoration: none;
  margin-right: 30px;
}

.header__signin {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: white;
  text-decoration: none;
  align-self: center;
}

.header__signin-wrapper {
  width: 76px;
  height: 32px;
  background-color: black;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 18px 15px 0;
  }

  .header__signin-wrapper {
    width: 54px;
    height: 26px;
  }

  .header__signin {
    font-size: 10px;
  }

  .header__signup {
    font-size: 10px;
    margin-right: 13px;
  }
}