.header {
  padding: 18px 70px 0;
  width: 100%;
  display: flex;
  background-color: #F3C1F8;
  box-sizing: border-box;
}

.header_white {
  background-color: white;
}

.header__signup {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: black;
  text-decoration: none;
  margin-right: 30px;
}

.header__signin {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: white;
  text-decoration: none;
  align-self: center;
}

.header__signin-wrapper {
  width: 76px;
  height: 32px;
  background-color: black;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__nav__movies {
  align-items: center;
  display: flex;
}

.header__account {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: black;
  text-decoration: none;
  margin-left: 50px;
}

.header__films {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.header__saved-films {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-left: 20px;
}

.header__account__image {
  width: 11px;
  height: 11px;
  background-color: #F9F9F9;
  border-radius: 6px;
  padding: 10px 10px;
  margin-left: 13px;
}

.header__burger {
  display: none;
}

.header__auth {
  margin-top: 70px;
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 396px;
  justify-self: center;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px 0;
  }
  .header__nav > .nav:nth-child(-n+3) {
    display: none;
  }
  .header__burger {
    display: block;
    background-image: url('../../images/header__burger-menu.svg');
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
  }
  .header__auth {
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .header__auth {
    width: 38px;
    margin: 38px auto 0;
    box-sizing: content-box;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 18px 15px 0;
  }

  .header__burger {
    background-repeat: no-repeat;
    background-size: 37px;
    background-position: right 1px top 1px;
  }

  .header__signin-wrapper {
    width: 54px;
    height: 26px;
  }

  .header__signin {
    font-size: 10px;
  }

  .header__signup {
    font-size: 10px;
    margin-right: 13px;
  }
}

