.search {
  display: flex;
  margin: 83px 70px 69px;
  background-color: #F9F9F9;
  border-radius: 9px;
  height: 72px;
  align-items: center;
}

.movies-form {
  display: flex;
  align-items: center;
  width: 77.5%;
  padding-right: 30px;
  border-right: 1px solid #E8E8E8;
}

.movies-form__search-icon_gray {
  margin-left: 25px;
}

.movies-form__submit {
  width: 95px;
  padding: 0;
  margin: 0 0 0 10px;
  height: 34px;
  border-radius: 48px;
  background-color: black;
  cursor: pointer;
}

.movies-form__input {
  background-color: #F9F9F9;
  border: none;
  color: #A0A0A0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-left: 16px;
  outline: none;
  width: 100%;
}

.movies__short {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0 30px 0 15px;
}

.movies-form__input::placeholder {
  color: #A0A0A0;
}

.movies-checkbox-label {
  display: flex;
  margin-left: 30px;
}

.movies-checkbox {
  appearance: none;
  width: 34px;
  height: 14px;
  margin: 0;
  background: #ddd;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;
}

.movies-checkbox:checked{
  background: #2BE080;
  }

  .movies-checkbox:after{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  left: 2px;
  top: 2px;
  transition: all .2s ease-in-out;
  }

  .movies-checkbox:checked:after{
  left: 22px;
  }

